/******************************************************************************
 * Common Selectors
******************************************************************************/

img {
  overflow: auto;
}

nav li, footer li {
  font-size: 1.17em;
  font-weight: bold;
}

footer {
  margin-bottom: 0 !important;
}

footer a {
  margin: 10px auto;
}

#notes p {
  margin: 10px auto;
  font-style: italic;
}

#website-title {
  color: #fff !important;
}

@media screen and (max-width: 767px) {
  /* formatting for "next>>" anchor under small devices */
  footer li:nth-child(2) a::before {
    content: "\00a0\00a0\00a0\00a0\00a0";
  }
}

/******************************************************************************
 * Selectors for index.html only
******************************************************************************/

#home {
  background-attachment: fixed;
  background-image: url("../images/airplane-evacuation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

#home main {
  background-color: rgba(34, 34, 34, 0.9);
  border-radius: 25px;
  color: #fff;
  margin-bottom: -18px;
  text-align: center;
}

#home main h2 {
  font-weight: bold;
}

#home main p {
  font-size: 1.2em;
  font-style: italic;
  margin: 40px auto;
}

#home main a {
  font-size: 1.2em;
  margin-bottom: 40px;
}

#home main a:hover {
  font-weight: bold;
  text-decoration: underline;
}

#home aside p {
  margin-top: 0px;
  margin-bottom: 30px;
}

#home aside a {
  font-size: 1em;
  color: white !important;
}

#home footer {
  margin-top: 43px;
}

/******************************************************************************
 * Selectors for context.html only
******************************************************************************/

#context footer {
  margin-top: 20px;
}

#context figure img {
  border: 2px solid black;
  display: block;
  margin: 0px auto;
}

#context figcaption {
  font-style: italic;
  margin-top: 10px;
}

#context section h2 {
  text-align: center;
}

#context section p {
  text-align: justify;
}

#context .vidcaption {
  font-style: italic;
  margin-top: 10px;
  text-align: center;
}

/******************************************************************************
 * Selectors for references.html only
******************************************************************************/

#references h3 {
  text-align: center;
}

#references footer {
  margin-top: 75px;
}

#references p[id] {
  /* Hanging Indent */
  padding-left: 30px;
  text-indent: -30px;
}

#references p[id]:target {
  background-color: lightskyblue;
}
